@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav Bar */

header {
    height: 100px;
    width: 100%;
}

.nav_1 {
    display: flex;
    justify-content: space-between;

}

nav a img {
    margin-top: 10px;
    height: 100px;
    width: 100px;

}

nav li {
    margin-top: 65px;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: #636359;
    font-family: 'Ubuntu', sans-serif;
}

.nav-menu a:hover {
    border-bottom: 1px solid #FF0000;
}

.nav-menu a:hover,
a:active {
    color: #FF0000;
}

/*logo*/
.logo {

    height: 90px;
    background-image: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 255, 255, 1));
    width: 33%;
    border-radius: 0px 0px 95px 0px;
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #636359;
    line-height: 35px;
    margin-left: 15px;
    justify-content: center;
    letter-spacing: 3px;
    margin-top: 5px;
}

/* HERO IMAGE*/

.hero-section {
    margin-top: -150px;
    max-height: fit-content;
    width: 100%;

}

table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.table_one img {
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

.table_one #img1 {
    width: 350px;
    height: 350px;
    margin-left: 90px;
    border-color: #0081C8;
}

.table_one #img2 {
    width: 350px;
    height: 350px;
    margin-right: -100px;
    margin-left: -250px;
    margin-top: 300px;
    border-color: #FCB131;
}

.table_one #img3 {
    width: 350px;
    height: 350px;
    margin-right: -150px;
    border-color: #000000;
}

.table_one #img4 {
    width: 350px;
    height: 350px;
    margin-right: -150px;
    margin-top: 300px;
    border-color: #00A651;
}

.table_one #img5 {
    width: 350px;
    height: 350px;
    border-color: #EE334E;
}